<h4>Artist Name: <%= @artist.name %></h4>

<h3>"Artist's Albums"</h3>

  <% if @artist.albums %>
    <ul>
      <% @artist.albums.each do |album| %>
        <li><a href="/albums/<%= @album.id %> %>"><%= album.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no albums listed for this artist yet.</p>
  <% end %><br>

<h4>Add an album:</h4>

<form action="/albums/<%= @album.id %>" method="post">
<input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="album_name">Song name</label>
    <input id="album_name" name="album_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add album</button>
</form><br>

<h4>Edit artist:</h4>

<form action="/artists/<%= @artist.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Edit artist</button>
</form><br>

<a href="/artists">Return to list of artists</a>